<!DOCTYPE html>
<html>
<body>

<div id="container" class="container_12">
  
  <div id="nav" class="grid_12 alpha omega">
      <div id="social" class="grid_4 alpha">
          <div id="flip_icon">
            <%= link_to :root do %>
              <%= image_tag "flipbook60.jpg" %>
            <% end %>
          </div>
          
          <div id="avatar">
            <%= gravatar_tag User.find(session[:user_id]), :size => 60 %>
          </div>
      </div>
    
      <div id="links" class="grid_4 omega push_4">
        <% if current_user %>
          <%= link_to("Log Out", login_path(current_user.id), :method => :delete) %>
          <%= link_to("Profile", user_url(current_user.id)) %> 
        <% else %>

        <%= link_to("Log In", :new_login) %>

        <% end %>
      </div>
  </div>
  
  <div id="profile_banner" class="grid_12 alpha omega">
      <div id="name" class="center">
        <%= current_user.name %>
      </div>
      
      <div class="separator"></div>
      
      <div id="tagline" class="center">
        share what you make
      </div>
      
      <div id="fb_menu">
      
        <!-- <%= button_to "Preview flipbook", :flipbks, :method => :get, :class => "ctr_button" %> -->
        
        <%= button_to "Your flipbooks", user_url(current_user.id), :method => :get, :class => "ctr_button" %>
                    
      </div>
      
      <div id="flipbook">
        <%= render partial: "form", locals: {book: @book} %>
      </div>
  </div>
  
  <div class="push"></div>
 
  <div id="footer" class="grid_12 alpha omega">
      <!-- <div id="nav_icon" class="grid_4 alpha"></div> -->
      
      <div id="foot_signup">
        
        <div id="foot_links" class="grid_4 push_8">
          <div class="foot_buttons">
            <div id="fb-root"></div>
            <div id="social_icon3">
              <a href="#" class="tumblr_icon"></a>
            </div>
            <div id="social_icon2">
              <a href="#" class="twitter_icon"></a>
            </div>
            <div id="social_icon1">
              <a href="#" class="facebook_icon"></a>
            </div>
        
            <div id="flip_icon">
              <%= link_to :root do %>
                <%= image_tag "flipbook60.jpg" %>
              <% end %>
            </div>
          </div>
        </div>
        
        <!-- <div id="signup" class="grid_4 alpha prefix_4">
          <button type="button" class="ctr_button">Sign Up</button>
        </div> -->

      </div>
      
      <div id="credits" class="grid_12 alpha omega">
        © 2014 flipbook, Inc. • Proudly built on the Silicon Prairie • Terms of service • Privacy Policy
      </div>
    
  </div>
        
</div>

</body>
</html>











<!-- <body>
  <div id="fb_main">
    <h2>Edit your flipbook</h2>
    <div id="new_flipbook_form">
      <ul id="flipbook_fields">
        <%= form_for @book do |f| %>
        <%= f.hidden_field :user_id %>

        <li>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </li>
  
        <li>
          <%= f.label :description %>
          <%= f.text_field :description %>
        </li>
  
        <li>
          <%= f.label "Speed (in ms)" %>
          <% spd = @book.speed || 200 %>
          <%= f.text_field :speed , :value => spd %>
        </li>
  
        <li>
          <%= f.label :public %>
          <%= f.check_box :public %>
        </li>
      </ul>
  
        <p>
          <% User.find(session[:user_id]).photos.all.each do |p| %>
          <div class="photos_new">
            <label for="<%= p.id %>">
              <%= image_tag(p.url, height: '100', width: '100') %>
              <%= check_box_tag('photos[]', p.id, (((p.flipbk_id == @book.id)&& p.flipbk_id != nil)?                      true : false), :id => "#{p.id}" ) %>
            </label>
          </div>
          <% end %>
        </p>
  
      </div>
      
      <%= f.submit "Save flipbook", :class => ".button" %>

      <% end %> 

    </div>
  </div>
</body> -->