<head>
  <!-- Twitter -->
  <meta name="twitter:card" content="photo">
  <meta name="twitter:site" content="@watchusbuildapp">
  <!-- <meta name="twitter:creator" -->
  <meta name="twitter:title" content="<%= @book.name %>">
  <meta name="twitter:image" content="<%= @book.url %>">
  <meta name="twitter:image:width" content="640">
  <meta name="twitter:image:height" content="640">

  <!-- Facebook -->
  <meta property="og:title" content="<%= @book.name %>" />
  <meta property="og:type" content="image:url" />
  <meta property="og:url" content="<%= flipbk_path("#{@book.id}") %>" />
  <meta property="og:image" content="<%= @book.url %>" />
</head>

<body>
  
  <div id="flipbk-banner">
    <div class="row full-width"> 
      <div class="header small-12 large-1 large-offset-2 end columns">
        <strong class="logo"><a href="/">watch us build</a></strong>
      </div>
      
      <div class="fb-name small-12 large-6 end columns">
        <span><%= @book.name %></span>
      </div>
    </div> 
      
    <div class="row full-width">
      <div class="flipbk small-12 large-6 large-offset-3 columns">
        <%= image_tag(@book.url) %>
      </div>
    </div>
      
  
    <div class="row full-width">
      <div class="fb-menu small-12 large-6 large-offset-3 end columns">
        <ul>
          <% if current_user && current_user.id == @book.user_id %>

          <li><%= button_to "Edit", "/flipbks/#{@book.id}/edit", :method => :get, :class => "fb-button" %></li>

          <li><%= button_to "Delete", flipbk_path("#{@book.id}"), :method => :delete, :class => "fb-button" %></li>

          <% else %>

          <% end %>
        </ul>
      </div>
    </div> 
  </div>
  
  <div class="flipbk-overlay"></div>
  
  <div id="flipbk-footer"> 
    <div class="row full-width">
      <% if @book.public %>
        <div class="social-share small-12 large-6 large-offset-3 end columns">
          <ul>
            <li>
            <a href="http://twitter.com/share" onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')" class="icon-twitter" title="Twitter"></a>
            </li>
            <li>
            <a href="http://www.facebook.com/sharer/sharer.php?u=<%=request.original_url%>" class="icon-facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" title="facebook"></a>
            </li>
            <li>
              <a href="http://tumblr.com/share" onclick="return !window.open(this.href, 'Tumblr', 'width=640,height=300')" class='icon-tumblr' title='Tumblr'></a>
            </li>
          <ul>
        </div>
      <% end %> 
    </div> 
  </div>
  

</body>


      