<!DOCTYPE html>
<html>
<body>
  
<div id="container" class="container_12">
  
    <div id="nav" class="grid_12">
        <div id="social" class="grid_4 alpha">
            <div id="flip_icon">
              <%= link_to :root do %>
                <%= image_tag "flipbook60.jpg" %>
              <% end %>
            </div>
        </div>
    </div>
    
    <!-- <div id="links" class="grid_4 omega push_4">
      <% if current_user %>
        <%= link_to("Profile", user_url(current_user.id)) %> |
        <%= link_to("Log Out", login_path(current_user.id), :method => :delete) %>
      <% else %>
      <% end %>
    </div> -->
    
    <div id="banner" class="grid_12">
      <div id="name" class="center">
        <span>flip</span>book
      </div>
  
      <div class="separator"></div>
  
      <div id="login_form" class="grid_12 alpha omega">
        
          <!-- <% if @user %>
           Username or password incorrect
          <% end %> -->
          
          <%= form_for logins_path do |f| %>

          <div id="email" class="grid_4 alpha omega prefix_4 suffix_4">
            <%= f.text_field :email, :placeholder => "Email" %>
          </div>

          <div id-"password" class="grid_4 alpha omega prefix_4 suffix_4">
            <%= f.password_field :password, :placeholder => "Password" %>
          </div>
          
          <div id="login" class="grid_4 alpha omega prefix_4 suffix_4">
            <%= f.submit "Log In", :class => 'ctr_button' %>
          </div>
          <% end %>
            
      </div>
    </div>

</div>

</body>
</html>