<%= form_for @user, :remote => true do |f| %>
  <!-- <% if @user.errors.any? %>
    <div id="errors">
      <% @user.errors.full_messages.each do |error_msg| %>
        <li><%= error_msg %></li>
      <% end %>
    </div>
  <% end %> -->


  <div id="signup_form" class="grid_12 alpha omega">
    <div id="signup_name" class="grid_3 alpha">
        <%= f.text_field :name, :placeholder => "Name" %>
    </div>
  
    <div id="signup_email" class="grid_3">
      <%= f.text_field :email, :placeholder => "Email" %>
    </div>

    <div id="signup_password" class="grid_3">
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>

    <div id="signup_pwconfirm" class="grid_3 omega">
      <%= f.password_field :password_confirmation, :placeholder => "Confirm" %>
    </div>
  </div>

  <div class="grid_12 alpha omega">    
    <div id="signup2" class="grid_4 alpha omega prefix_4 suffix_4">
      <%= f.submit "Sign Up", :class => 'ctr_button' %>
    </div>
  </div>
<% end %>