<!DOCTYPE html>
<html>
<body>

<div id="container" class="container_12">
  
  <div id="profile_banner" class="grid_12 alpha omega">
      <div id="name" class="center">
        <%= current_user.name %>
      </div>
      
      <div class="separator"></div>
      
      <div id="tagline" class="center">
        share what you make
      </div>
      
      <div id="menu">
      
        <%= button_to "Connect with Instagram", :connect, :method => :get, :class => "ctr_button" %>
        
        <%= button_to "Make a flipbook", :new_flipbk, :method => :get, :class => "ctr_button" %>
                    
      </div>
  </div>
  
  <div id="profile_flipbooks" class="grid_12 alpha omega">
      <div id="fbs_all">
        <ul>
          <% @user.flipbks.each do |book| %>
        <li>
          <% book.delete if book.photos.all.empty? %>
          <%= link_to(image_tag(book.photos.all.first.url,:alt => book.name, :size => "300x300"), flipbk_path(book.id)) if !(book.photos.all.empty?) %>
        </li>
          <% end %>
        </ul>
      </div>
  </div>
  
  <div class="push"></div>
  
  <div id="footer" class="grid_12 alpha omega">
      <!-- <div id="nav_icon" class="grid_4 alpha"></div> -->
      
      <div id="foot_signup">
        
        <div id="foot_links" class="grid_4 push_8">
          <div class="foot_buttons">
            <div id="fb-root"></div>
            <div id="social_icon3">
              <a href="#" class="tumblr_icon"></a>
            </div>
            <div id="social_icon2">
              <a href="#" class="twitter_icon"></a>
            </div>
            <div id="social_icon1">
              <a href="#" class="facebook_icon"></a>
            </div>
        
            <div id="flip_icon">
              <%= link_to :root do %>
                <%= image_tag "flipbook60.jpg" %>
              <% end %>
            </div>
          </div>
        </div>
        
        <!-- <div id="signup" class="grid_4 alpha prefix_4">
          <button type="button" class="ctr_button">Sign Up</button>
        </div> -->

      </div>
      
      <div id="credits" class="grid_12 alpha omega">
        © 2014 flipbook, Inc. • Proudly built on the Silicon Prairie • Terms of service • Privacy Policy
      </div>
    
  </div>
      
</div>

</body>
</html>