<body>
  
  <div id="hp-banner">
    <div class="row full-width">
      
      <div class="header small-12 large-10 large-offset-2 columns">
        <strong class="logo"><a href="/">watch us build</a></strong>
      </div>
  
      <div class="hello-block">
        <div class="tagline small-12 large-10 large-offset-2 columns">
          We love to build.
        </div>
        
        <div class="who-we-are small-12 large-10 large-offset-2 columns">
          <span>WATCH</span><br>
          <span>US</span><img src="assets/wub_icon.png"</img><br>
          <span>BUILD</span>
        </div>
      </div>
    
      <div class="signup">
        <div class="signup-form small-12 large-5 large-offset-2 columns">
          <%= render partial: "form", locals: {user: @user} %>
        </div>
      </div>
      
      <div class="pitch small-12 large-10 large-offset-2 columns">
        Start a buildbook.<br> 
        Add new photos via Instagram.<br> 
        Let us watch you build.<br>
        And, please, watch us build too.<br>
        Design/build/develop!
      </div>
        
    </div>
  </div>
  
  <div class="hp-overlay"></div>
  
  <div class="hp-flipbks">
    <div class="row full-width">
      <% @public_flipbks.each do |f| %>
        <div class="wrap small-12 large-3 end columns">
          <% user = User.find(f.user_id) %>
          <a href="<%= flipbk_path(f.id) %>" class="icon-play"</a>
          <a href="<%= flipbk_path(f.id) %>" class="user-name"><%= user.name %></a>
          <a href="<%= flipbk_path(f.id) %>" class="book-name"><%= f.name %></a>
          <a href="<%= flipbk_path(f.id) %>"><img src="<%= f.photos.all.first.url %>" width="100%" height="100%" class="gallery-img"></img></a>
          <div class="gallery-overlay"></div>
        </div>
      <% end %>
    </div>
  </div> 
   
  <div class="push"></div>
  
</body>


