<!DOCTYPE html>
<html>

<script src="http://platform.tumblr.com/v1/share.js"></script>

<head>
  <title>Watch Us Build</title>
  <link rel="shortcut icon" href="assets/favicon.png"/>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,400,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Facebook integration. -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{1492301310990221}',
        status     : true,
        xfbml      : true
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- Twitter integration. -->
  <script>
    $('.popup').click(function(event) {
      var width  = 575,
          height = 400,
          left   = ($(window).width()  - width)  / 2,
          top    = ($(window).height() - height) / 2,
          url    = this.href,
          opts   = 'status=1' +
                   ',width='  + width  +
                   ',height=' + height +
                   ',top='    + top    +
                   ',left='   + left;

      window.open(url, 'twitter', opts);

      return false;
    });
  </script>

</head>

<body>
 
  <div class="navigation small-12 large-12 columns">
    <ul>
      <div id="fb-root"></div>
      <li>
        <a href="" class="icon-facebook" title="Facebook"></a>
      </li>
      <li>
        <a href="" class="icon-twitter" title="Twitter"></a>
      </li>
      <li>
        <a href="" class="icon-tumblr" title="Tumblr"></a>
      </li>
      <li>
        <a href="" class="icon-instagram" title="Instagram"></a>
      </li>
      <li>
        <%= link_to("Us", :new_login) %>
      </li>
      <li>
        <% if !current_user %> 
          <%= link_to("Log In", :new_login) %>
        <% else %>
          <%= link_to("You", user_url(current_user.id)) %>
        <% end %>
      </li>       
    </ul>
  </div>
  
  <div>
  
    <%= yield %> 
  
  </div>

  <!-- <% if current_user %>
  <footer class="container_12">
    <div id="footer" class="grid_12 alpha omega">
      
        <div id="foot_signup">
        
          <div id="foot_links" class="grid_4 push_8">
            <div class="foot_buttons">
              <div id="fb-root"></div>
              <div id="social_icon3">
                <a href="#" class="tumblr_icon"></a>
              </div>
              <div id="social_icon2">
                <a href="#" class="twitter_icon"></a>
              </div>
              <div id="social_icon1">
                <a href="#" class="facebook_icon"></a>
              </div>
        
              <div id="flip_icon">
                <%= link_to :root do %>
                  <%= image_tag "flipbook60.jpg" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      
        <div id="credits" class="grid_12 alpha omega">
          © 2014 flipbook, Inc. • Proudly built on the Silicon Prairie • Terms of service • Privacy Policy
        </div>
    </div>  
  </footer>
  <% end %> -->

</body> 

</html>
